docker-compose : time="2026-01-16T16:03:15+03:00" level=warning msg="C:\\Users\\Oguz\\.cursor\\Proje1\\docker-compose.y
ml: the attribute `version` is obsolete, it will be ignored, please remove it to avoid potential confusion"
At C:\Users\Oguz\AppData\Local\Temp\ps-script-1ccb8087-7975-46c8-93b7-735e3a0a6083.ps1:91 char:34
+ ... sor\Proje1; docker-compose exec db pg_dump -U app -d teknik_servis -- ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (time="2026-01-1...tial confusion":String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
--
-- PostgreSQL database dump
--

\restrict XZumLr4BkzQht65CDTzRjEMxvhBIBlZI1H9sPwtPpnVJScY8AHmjepkysuz7NDN

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.user_depots DROP CONSTRAINT IF EXISTS user_depots_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_depots DROP CONSTRAINT IF EXISTS user_depots_depot_id_fkey;
ALTER TABLE IF EXISTS ONLY public.scheduled_reports DROP CONSTRAINT IF EXISTS scheduled_reports_created_by_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.requests DROP CONSTRAINT IF EXISTS requests_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.requests DROP CONSTRAINT IF EXISTS requests_updated_by_fkey;
ALTER TABLE IF EXISTS ONLY public.requests DROP CONSTRAINT IF EXISTS requests_territory_id_fkey;
ALTER TABLE IF EXISTS ONLY public.requests DROP CONSTRAINT IF EXISTS requests_posm_id_fkey;
ALTER TABLE IF EXISTS ONLY public.requests DROP CONSTRAINT IF EXISTS requests_dealer_id_fkey;
ALTER TABLE IF EXISTS ONLY public.posm_transfers DROP CONSTRAINT IF EXISTS posm_transfers_transferred_by_fkey;
ALTER TABLE IF EXISTS ONLY public.posm_transfers DROP CONSTRAINT IF EXISTS posm_transfers_to_depot_id_fkey;
ALTER TABLE IF EXISTS ONLY public.posm_transfers DROP CONSTRAINT IF EXISTS posm_transfers_posm_id_fkey;
ALTER TABLE IF EXISTS ONLY public.posm_transfers DROP CONSTRAINT IF EXISTS posm_transfers_from_depot_id_fkey;
ALTER TABLE IF EXISTS ONLY public.photos DROP CONSTRAINT IF EXISTS photos_request_id_fkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS fk_users_depot;
ALTER TABLE IF EXISTS ONLY public.requests DROP CONSTRAINT IF EXISTS fk_requests_depot;
ALTER TABLE IF EXISTS ONLY public.requests DROP CONSTRAINT IF EXISTS fk_requests_completed_by;
ALTER TABLE IF EXISTS ONLY public.posm DROP CONSTRAINT IF EXISTS fk_posm_depot;
ALTER TABLE IF EXISTS ONLY public.dealers DROP CONSTRAINT IF EXISTS fk_dealers_depot;
ALTER TABLE IF EXISTS ONLY public.dealers DROP CONSTRAINT IF EXISTS dealers_territory_id_fkey;
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS audit_logs_user_id_fkey;
DROP INDEX IF EXISTS public.ix_users_id;
DROP INDEX IF EXISTS public.ix_users_email;
DROP INDEX IF EXISTS public.ix_user_depots_user_id;
DROP INDEX IF EXISTS public.ix_user_depots_depot_id;
DROP INDEX IF EXISTS public.ix_territories_name;
DROP INDEX IF EXISTS public.ix_territories_id;
DROP INDEX IF EXISTS public.ix_scheduled_reports_id;
DROP INDEX IF EXISTS public.ix_requests_id;
DROP INDEX IF EXISTS public.ix_posm_transfers_id;
DROP INDEX IF EXISTS public.ix_posm_name_depot;
DROP INDEX IF EXISTS public.ix_posm_name;
DROP INDEX IF EXISTS public.ix_posm_id;
DROP INDEX IF EXISTS public.ix_photos_id;
DROP INDEX IF EXISTS public.ix_depots_name;
DROP INDEX IF EXISTS public.ix_depots_id;
DROP INDEX IF EXISTS public.ix_depots_code;
DROP INDEX IF EXISTS public.ix_dealers_id;
DROP INDEX IF EXISTS public.ix_dealers_code_depot;
DROP INDEX IF EXISTS public.ix_dealers_code;
DROP INDEX IF EXISTS public.ix_audit_logs_id;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.user_depots DROP CONSTRAINT IF EXISTS user_depots_pkey;
ALTER TABLE IF EXISTS ONLY public.territories DROP CONSTRAINT IF EXISTS territories_pkey;
ALTER TABLE IF EXISTS ONLY public.scheduled_reports DROP CONSTRAINT IF EXISTS scheduled_reports_pkey;
ALTER TABLE IF EXISTS ONLY public.requests DROP CONSTRAINT IF EXISTS requests_pkey;
ALTER TABLE IF EXISTS ONLY public.posm_transfers DROP CONSTRAINT IF EXISTS posm_transfers_pkey;
ALTER TABLE IF EXISTS ONLY public.posm DROP CONSTRAINT IF EXISTS posm_pkey;
ALTER TABLE IF EXISTS ONLY public.photos DROP CONSTRAINT IF EXISTS photos_pkey;
ALTER TABLE IF EXISTS ONLY public.depots DROP CONSTRAINT IF EXISTS depots_pkey;
ALTER TABLE IF EXISTS ONLY public.dealers DROP CONSTRAINT IF EXISTS dealers_pkey;
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS audit_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.alembic_version DROP CONSTRAINT IF EXISTS alembic_version_pkc;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.territories ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.scheduled_reports ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.requests ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.posm_transfers ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.posm ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.photos ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.depots ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.dealers ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.audit_logs ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.user_depots;
DROP SEQUENCE IF EXISTS public.territories_id_seq;
DROP TABLE IF EXISTS public.territories;
DROP SEQUENCE IF EXISTS public.scheduled_reports_id_seq;
DROP TABLE IF EXISTS public.scheduled_reports;
DROP SEQUENCE IF EXISTS public.requests_id_seq;
DROP TABLE IF EXISTS public.requests;
DROP SEQUENCE IF EXISTS public.posm_transfers_id_seq;
DROP TABLE IF EXISTS public.posm_transfers;
DROP SEQUENCE IF EXISTS public.posm_id_seq;
DROP TABLE IF EXISTS public.posm;
DROP SEQUENCE IF EXISTS public.photos_id_seq;
DROP TABLE IF EXISTS public.photos;
DROP SEQUENCE IF EXISTS public.depots_id_seq;
DROP TABLE IF EXISTS public.depots;
DROP SEQUENCE IF EXISTS public.dealers_id_seq;
DROP TABLE IF EXISTS public.dealers;
DROP SEQUENCE IF EXISTS public.audit_logs_id_seq;
DROP TABLE IF EXISTS public.audit_logs;
DROP TABLE IF EXISTS public.alembic_version;
DROP TYPE IF EXISTS public.userrole;
DROP TYPE IF EXISTS public.requeststatus;
DROP TYPE IF EXISTS public.jobtype;
--
-- Name: jobtype; Type: TYPE; Schema: public; Owner: app
--

CREATE TYPE public.jobtype AS ENUM (
    'Montaj',
    'Demontaj',
    'Bak─▒m'
);


ALTER TYPE public.jobtype OWNER TO app;

--
-- Name: requeststatus; Type: TYPE; Schema: public; Owner: app
--

CREATE TYPE public.requeststatus AS ENUM (
    'Beklemede',
    'TakvimeEklendi',
    'Tamamland─▒',
    '─░ptal'
);


ALTER TYPE public.requeststatus OWNER TO app;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: app
--

CREATE TYPE public.userrole AS ENUM (
    'user',
    'admin',
    'tech'
);


ALTER TYPE public.userrole OWNER TO app;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO app;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    user_id integer,
    action character varying(50) NOT NULL,
    entity_type character varying(50) NOT NULL,
    entity_id integer,
    old_values json,
    new_values json,
    description text,
    ip_address character varying(45),
    user_agent character varying(500),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO app;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO app;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: dealers; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.dealers (
    id integer NOT NULL,
    territory_id integer,
    code character varying NOT NULL,
    name character varying NOT NULL,
    latitude numeric(10,8),
    longitude numeric(11,8),
    depot_id integer
);


ALTER TABLE public.dealers OWNER TO app;

--
-- Name: dealers_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.dealers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dealers_id_seq OWNER TO app;

--
-- Name: dealers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.dealers_id_seq OWNED BY public.dealers.id;


--
-- Name: depots; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.depots (
    id integer NOT NULL,
    name character varying NOT NULL,
    code character varying NOT NULL
);


ALTER TABLE public.depots OWNER TO app;

--
-- Name: depots_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.depots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.depots_id_seq OWNER TO app;

--
-- Name: depots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.depots_id_seq OWNED BY public.depots.id;


--
-- Name: photos; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.photos (
    id integer NOT NULL,
    request_id integer NOT NULL,
    path_or_url character varying NOT NULL,
    file_name character varying NOT NULL,
    mime_type character varying,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.photos OWNER TO app;

--
-- Name: photos_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.photos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.photos_id_seq OWNER TO app;

--
-- Name: photos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.photos_id_seq OWNED BY public.photos.id;


--
-- Name: posm; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.posm (
    id integer NOT NULL,
    name character varying NOT NULL,
    ready_count integer DEFAULT 0 NOT NULL,
    repair_pending_count integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    depot_id integer
);


ALTER TABLE public.posm OWNER TO app;

--
-- Name: posm_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.posm_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.posm_id_seq OWNER TO app;

--
-- Name: posm_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.posm_id_seq OWNED BY public.posm.id;


--
-- Name: posm_transfers; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.posm_transfers (
    id integer NOT NULL,
    posm_id integer NOT NULL,
    from_depot_id integer NOT NULL,
    to_depot_id integer NOT NULL,
    quantity integer NOT NULL,
    transfer_type character varying(20) NOT NULL,
    notes text,
    transferred_by integer NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.posm_transfers OWNER TO app;

--
-- Name: posm_transfers_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.posm_transfers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.posm_transfers_id_seq OWNER TO app;

--
-- Name: posm_transfers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.posm_transfers_id_seq OWNED BY public.posm_transfers.id;


--
-- Name: requests; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.requests (
    id integer NOT NULL,
    user_id integer NOT NULL,
    dealer_id integer NOT NULL,
    territory_id integer,
    current_posm character varying,
    job_type public.jobtype NOT NULL,
    job_detail text,
    request_date timestamp with time zone DEFAULT now() NOT NULL,
    requested_date date NOT NULL,
    planned_date date,
    posm_id integer,
    status public.requeststatus DEFAULT 'Beklemede'::public.requeststatus NOT NULL,
    job_done_desc text,
    latitude numeric(10,8),
    longitude numeric(11,8),
    updated_at timestamp with time zone DEFAULT now(),
    updated_by integer,
    depot_id integer,
    completed_date date,
    completed_by integer,
    priority character varying(20) DEFAULT 'Orta'::character varying NOT NULL
);


ALTER TABLE public.requests OWNER TO app;

--
-- Name: requests_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.requests_id_seq OWNER TO app;

--
-- Name: requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.requests_id_seq OWNED BY public.requests.id;


--
-- Name: scheduled_reports; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.scheduled_reports (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    report_type character varying(50) NOT NULL,
    cron_expression character varying(100) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    depot_ids json,
    recipient_user_ids json NOT NULL,
    status_filter json,
    job_type_filter json,
    custom_params json,
    last_sent_at timestamp with time zone,
    next_run_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by_user_id integer
);


ALTER TABLE public.scheduled_reports OWNER TO app;

--
-- Name: scheduled_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.scheduled_reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.scheduled_reports_id_seq OWNER TO app;

--
-- Name: scheduled_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.scheduled_reports_id_seq OWNED BY public.scheduled_reports.id;


--
-- Name: territories; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.territories (
    id integer NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.territories OWNER TO app;

--
-- Name: territories_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.territories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.territories_id_seq OWNER TO app;

--
-- Name: territories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.territories_id_seq OWNED BY public.territories.id;


--
-- Name: user_depots; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.user_depots (
    user_id integer NOT NULL,
    depot_id integer NOT NULL
);


ALTER TABLE public.user_depots OWNER TO app;

--
-- Name: users; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    password_hash character varying NOT NULL,
    role character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    depot_id integer
);


ALTER TABLE public.users OWNER TO app;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO app;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: dealers id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.dealers ALTER COLUMN id SET DEFAULT nextval('public.dealers_id_seq'::regclass);


--
-- Name: depots id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.depots ALTER COLUMN id SET DEFAULT nextval('public.depots_id_seq'::regclass);


--
-- Name: photos id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.photos ALTER COLUMN id SET DEFAULT nextval('public.photos_id_seq'::regclass);


--
-- Name: posm id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.posm ALTER COLUMN id SET DEFAULT nextval('public.posm_id_seq'::regclass);


--
-- Name: posm_transfers id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.posm_transfers ALTER COLUMN id SET DEFAULT nextval('public.posm_transfers_id_seq'::regclass);


--
-- Name: requests id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.requests ALTER COLUMN id SET DEFAULT nextval('public.requests_id_seq'::regclass);


--
-- Name: scheduled_reports id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.scheduled_reports ALTER COLUMN id SET DEFAULT nextval('public.scheduled_reports_id_seq'::regclass);


--
-- Name: territories id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.territories ALTER COLUMN id SET DEFAULT nextval('public.territories_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.alembic_version (version_num) FROM stdin;
f1a2b3c4d5e6
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: dealers; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: depots; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.depots (id, name, code) FROM stdin;
1	Manisa	MANISA
2	─░zmir	IZMIR
3	Salihli	SALIHLI
\.


--
-- Data for Name: photos; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.photos (id, request_id, path_or_url, file_name, mime_type, created_at) FROM stdin;
13	14	/uploads/797f51c3-a2b5-469d-8b03-7f3adaf4b6d2.png	Turizm.png	image/png	2026-01-16 07:48:40.874509+00
14	14	/uploads/aa7bee4f-5cab-472e-86a7-3a5e57a1e6aa.png	Turizm.png	image/png	2026-01-16 07:49:59.386404+00
15	14	/uploads/4b9391b1-fb3d-4de8-a24f-9112a27ebe9c.png	logo-1 (1).png	image/png	2026-01-16 07:51:08.90282+00
\.


--
-- Data for Name: posm; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: posm_transfers; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.posm_transfers (id, posm_id, from_depot_id, to_depot_id, quantity, transfer_type, notes, transferred_by, created_at) FROM stdin;
\.


--
-- Data for Name: requests; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.requests (id, user_id, dealer_id, territory_id, current_posm, job_type, job_detail, request_date, requested_date, planned_date, posm_id, status, job_done_desc, latitude, longitude, updated_at, updated_by, depot_id, completed_date, completed_by, priority) FROM stdin;
14	7	15932	5	\N	Montaj	\N	2026-01-16 07:48:40.76422+00	2026-01-17	2026-01-23	102	Tamamland─▒		38.42268630	27.19406500	2026-01-16 07:51:10.220193+00	1	2	2026-01-24	1	Orta
\.


--
-- Data for Name: scheduled_reports; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.scheduled_reports (id, name, report_type, cron_expression, is_active, depot_ids, recipient_user_ids, status_filter, job_type_filter, custom_params, last_sent_at, next_run_at, created_at, updated_at, created_by_user_id) FROM stdin;
2	Manisa	pending_requests	4 08 19	t	null	[1]	null	null	null	2026-01-16 08:19:14.219636+00	\N	2026-01-16 05:19:00.699902+00	2026-01-16 08:19:00.002993+00	1
1	Manisa Tamamlanan ─░┼şler	weekly_completed	4 08 20	t	null	[1]	null	null	null	2026-01-16 08:20:01.353387+00	\N	2026-01-16 05:13:19.631599+00	2026-01-16 08:20:00.002115+00	1
\.


--
-- Data for Name: territories; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: user_depots; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.user_depots (user_id, depot_id) FROM stdin;
6	1
5	1
1	2
1	3
1	1
7	2
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 14, true);


--
-- Name: dealers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.dealers_id_seq', 20358, true);


--
-- Name: depots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.depots_id_seq', 3, true);


--
-- Name: photos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.photos_id_seq', 15, true);


--
-- Name: posm_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.posm_id_seq', 127, true);


--
-- Name: posm_transfers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.posm_transfers_id_seq', 1, false);


--
-- Name: requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.requests_id_seq', 14, true);


--
-- Name: scheduled_reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.scheduled_reports_id_seq', 2, true);


--
-- Name: territories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.territories_id_seq', 57, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.users_id_seq', 8, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: dealers dealers_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.dealers
    ADD CONSTRAINT dealers_pkey PRIMARY KEY (id);


--
-- Name: depots depots_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.depots
    ADD CONSTRAINT depots_pkey PRIMARY KEY (id);


--
-- Name: photos photos_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT photos_pkey PRIMARY KEY (id);


--
-- Name: posm posm_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.posm
    ADD CONSTRAINT posm_pkey PRIMARY KEY (id);


--
-- Name: posm_transfers posm_transfers_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.posm_transfers
    ADD CONSTRAINT posm_transfers_pkey PRIMARY KEY (id);


--
-- Name: requests requests_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_pkey PRIMARY KEY (id);


--
-- Name: scheduled_reports scheduled_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.scheduled_reports
    ADD CONSTRAINT scheduled_reports_pkey PRIMARY KEY (id);


--
-- Name: territories territories_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.territories
    ADD CONSTRAINT territories_pkey PRIMARY KEY (id);


--
-- Name: user_depots user_depots_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.user_depots
    ADD CONSTRAINT user_depots_pkey PRIMARY KEY (user_id, depot_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_audit_logs_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_audit_logs_id ON public.audit_logs USING btree (id);


--
-- Name: ix_dealers_code; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_dealers_code ON public.dealers USING btree (code);


--
-- Name: ix_dealers_code_depot; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX ix_dealers_code_depot ON public.dealers USING btree (code, depot_id);


--
-- Name: ix_dealers_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_dealers_id ON public.dealers USING btree (id);


--
-- Name: ix_depots_code; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX ix_depots_code ON public.depots USING btree (code);


--
-- Name: ix_depots_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_depots_id ON public.depots USING btree (id);


--
-- Name: ix_depots_name; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX ix_depots_name ON public.depots USING btree (name);


--
-- Name: ix_photos_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_photos_id ON public.photos USING btree (id);


--
-- Name: ix_posm_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_posm_id ON public.posm USING btree (id);


--
-- Name: ix_posm_name; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_posm_name ON public.posm USING btree (name);


--
-- Name: ix_posm_name_depot; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX ix_posm_name_depot ON public.posm USING btree (name, depot_id);


--
-- Name: ix_posm_transfers_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_posm_transfers_id ON public.posm_transfers USING btree (id);


--
-- Name: ix_requests_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_requests_id ON public.requests USING btree (id);


--
-- Name: ix_scheduled_reports_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_scheduled_reports_id ON public.scheduled_reports USING btree (id);


--
-- Name: ix_territories_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_territories_id ON public.territories USING btree (id);


--
-- Name: ix_territories_name; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX ix_territories_name ON public.territories USING btree (name);


--
-- Name: ix_user_depots_depot_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_user_depots_depot_id ON public.user_depots USING btree (depot_id);


--
-- Name: ix_user_depots_user_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_user_depots_user_id ON public.user_depots USING btree (user_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: dealers dealers_territory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.dealers
    ADD CONSTRAINT dealers_territory_id_fkey FOREIGN KEY (territory_id) REFERENCES public.territories(id);


--
-- Name: dealers fk_dealers_depot; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.dealers
    ADD CONSTRAINT fk_dealers_depot FOREIGN KEY (depot_id) REFERENCES public.depots(id);


--
-- Name: posm fk_posm_depot; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.posm
    ADD CONSTRAINT fk_posm_depot FOREIGN KEY (depot_id) REFERENCES public.depots(id);


--
-- Name: requests fk_requests_completed_by; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT fk_requests_completed_by FOREIGN KEY (completed_by) REFERENCES public.users(id);


--
-- Name: requests fk_requests_depot; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT fk_requests_depot FOREIGN KEY (depot_id) REFERENCES public.depots(id);


--
-- Name: users fk_users_depot; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_depot FOREIGN KEY (depot_id) REFERENCES public.depots(id);


--
-- Name: photos photos_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT photos_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.requests(id);


--
-- Name: posm_transfers posm_transfers_from_depot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.posm_transfers
    ADD CONSTRAINT posm_transfers_from_depot_id_fkey FOREIGN KEY (from_depot_id) REFERENCES public.depots(id);


--
-- Name: posm_transfers posm_transfers_posm_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.posm_transfers
    ADD CONSTRAINT posm_transfers_posm_id_fkey FOREIGN KEY (posm_id) REFERENCES public.posm(id);


--
-- Name: posm_transfers posm_transfers_to_depot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.posm_transfers
    ADD CONSTRAINT posm_transfers_to_depot_id_fkey FOREIGN KEY (to_depot_id) REFERENCES public.depots(id);


--
-- Name: posm_transfers posm_transfers_transferred_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.posm_transfers
    ADD CONSTRAINT posm_transfers_transferred_by_fkey FOREIGN KEY (transferred_by) REFERENCES public.users(id);


--
-- Name: requests requests_dealer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_dealer_id_fkey FOREIGN KEY (dealer_id) REFERENCES public.dealers(id);


--
-- Name: requests requests_posm_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_posm_id_fkey FOREIGN KEY (posm_id) REFERENCES public.posm(id);


--
-- Name: requests requests_territory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_territory_id_fkey FOREIGN KEY (territory_id) REFERENCES public.territories(id);


--
-- Name: requests requests_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(id);


--
-- Name: requests requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: scheduled_reports scheduled_reports_created_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.scheduled_reports
    ADD CONSTRAINT scheduled_reports_created_by_user_id_fkey FOREIGN KEY (created_by_user_id) REFERENCES public.users(id);


--
-- Name: user_depots user_depots_depot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.user_depots
    ADD CONSTRAINT user_depots_depot_id_fkey FOREIGN KEY (depot_id) REFERENCES public.depots(id) ON DELETE CASCADE;


--
-- Name: user_depots user_depots_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.user_depots
    ADD CONSTRAINT user_depots_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict XZumLr4BkzQht65CDTzRjEMxvhBIBlZI1H9sPwtPpnVJScY8AHmjepkysuz7NDN

